<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa Organica</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <!-- Custom CSS -->
    <link href="{% static "css/thumbnail1-gallery.css"%}" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <nav class="Header">
        <div class="pull-left" >
            <img src="{% static "img/Logo.jpg" %}" alt="Logo" height="80" width="160">
        </div>
        <div class="pull-center">
            <form >
                <input type="text" name="search" autocomplete="on" size="100">
                <input type="image" src="{% static "img/Lupa.png" %}" height="28" width="28" align="middle">
            </form>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li class="boton">
                        <a href="/web/Productor/home">Mi Cuenta</a>
                </li>
                <li class="boton">
                        <a href="/logout">Cerrar sesión</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="boton">
                        <a href="/login">Iniciar sesión</a>
                </li>
                <li class="boton">
                        <a href="#">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</head>
<body>
    <div class="row">
        <a class="col-md-4 col-sm-4 col-lg-4" align="right">
            <img src=  "{% static "img/productor_pedidos.png" %}" alt="Consulta tus pedidos" height="350">
        </a>
        <a class="col-md-4 col-sm-4 col-lg-4" align="center" href="productos">
            <img src=  "{% static "img/productor_ofrecer_prod.png" %}" alt="Ofrece productos" height="350">
        </a>
        <a class="col-md-4 col-sm-4 col-lg-4" align="left">
            <img src=  "{% static "img/productor_solicitar_prod.png" %}" alt="Solicita productos" height="350">
        </a>
    </div>
    <div class="row">
        <a class="col-md-8 col-sm-8 col-lg-8" align="center" href="/web/Productor/ofertaproductos/1">
            <img src=  "{% static "img/productor_cambiar_info.png" %}" alt="Cambia la informacion de tus productos" height="130">
        </a>
        <a class="col-md-4 col-sm-4 col-lg-4" align="left">
            <img src=  "{% static "img/productor_registrar_cultivo.png" %}" alt="Registrar cultivos" height="130">
        </a>
    </div>
</body>
</html>
