<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosecha de la Semana</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <!-- Custom CSS -->
    <link href="{% static "css/thumbnail1-gallery.css"%}" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <nav class="Header2">
        <div class="pull-left" >
            <img src="{% static "img/Logo.jpg" %}" alt="Logo" height="80" width="160">
        </div>
        <div class="pull-center">
            <form>
                <input type="text" name="search" autocomplete="on" size="100">
                <input type="image" src="{% static "img/Lupa.png" %}" height="28" width="28" align="middle">
            </form>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li class="boton">

                        <a href="/web/Productor/home">Mi Cuenta</a>
                </li>
                <li class="boton">
                        <a href="/logout">Cerrar sesión</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="boton">
                        <a href="/login">Iniciar sesión</a>
                </li>
                <li class="boton">
                        <a href="#">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</head>
<body class="productores">
    <div>
        <form id="precio" method="post">
            <div id="des" >
                <div id="filtro"></div>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
            </div>
            <div >
                <button class="botonesFiltrar" type="submit">
                    <b>Filtrar</b>
                </button>
                <button class="botonesFiltrar" type="button" onclick="window.location.href='/web/Productor/productos'" >
                     <b>Quitar filtro</b>
                </button>
            </div>
            {% endbuttons %}
        </form>
    </div>
    <br>
    <nav class="navbar-fixed-bottom" role="navigation" align="center">
        <nav>
            <ul class="pagination">
              {% if lista_productos.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ lista_productos.previous_page_number}}" aria-label="Ant">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Ant</span>
                  </a>
                </li>
              {% endif %}

              {% for page in lista_productos.paginator.page_range %}
                {% if lista_productos.number == page %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                {% endif %}
              {% endfor %}

              {% if lista_productos.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ lista_productos.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              {% endif %}
          </ul>
        </nav>
        <span class="current">
            Página {{ lista_productos.number }} de {{ lista_productos.paginator.num_pages }}.
        </span>
    </nav>

    {% for item in lista_productos %}

    <div class="col-md-4 col-sm-6 col-lg-3 well" align="center">
        {{item.nombres}} ${{item.precio}}
        <br/><br/>
        <a href="/web/Productor/ofertaproducto/{{ item.pk }}"><img src="{{MEDIA_URL}}{{item.foto.url}}" height="200" width="200"></a>
        <br/><br/>
        {{item.descripcion}}
    </div>
    {% endfor %}
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js.js" %}"></script>
</body>
</html>