<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nueva Oferta</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <!-- Custom CSS -->
    <link href="{% static "css/thumbnail1-gallery.css"%}" rel="stylesheet">
            <script language="JavaScript">
                function confirmCancelar()
                {
                    if (confirm('Confirme que desea eliminar esta oferta'))
                    {
                        $('#formId').attr('action', '/web/Productor/ofertacancelar/');
                        return true;
                    }

                    return false;
                }
            </script>
</head>
<nav class="Header">
        <div class="pull-left" >
            <img src="{% static "img/Logo.jpg" %}" alt="Logo" height="80" width="160">
        </div>
        <div class="pull-center">
            <form >
                <input type="text" name="search" autocomplete="on" size="100">
                <input type="image" src="{% static "img/Lupa.png" %}" height="28" width="28" align="middle">
            </form>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li class="boton">
                        <a href="/web/Productor/home">Mi Cuenta</a>
                </li>
                <li class="boton">
                        <a href="/logout">Cerrar sesión</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="boton">
                        <a href="/login">Iniciar sesión</a>
                </li>
                <li class="boton">
                        <a href="#">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
<body class="productores">
    <div class="col-lg-offset-3 col-lg-6">
        {% block content %}
            <h1>{% if oferta != None  %} Modificar {% else %} Crear  {% endif %} Oferta de Producto</h1>
            <div class="producto" align="center" style="float: none; margin: 0 auto;" data-toggle="modal" data-target="#{{item.pk}}">
                <h2><b>{{producto.nombres}}</b></h2>
                <img src="{{MEDIA_URL}}{{producto.foto.url}}" height="300" width="300">
                <br/>
                <h5 class ="descprod">{{producto.descripcion}} ${{producto.precio}}</h5>
                <div class="col-lg-offset-2 col-lg-7">
                    <form id="formId" method="post">
                    {% csrf_token %}
                    <h4 class="form-control2">Precio:</h4>
                    <input type="number" step="any" min="1" {% if oferta != None  %} value="{{ oferta.precio }}" {% endif %} required="required" class="form-control" name="Precio" placeholder="Precio ({{ producto.unidad.nombre }})" />
                    <h4 class="form-control2">Cantidad:({{ producto.unidad.nombre }})</h4>
                    <input type="number" min="1" {% if oferta != None  %} value="{{ oferta.cantidad }}" {% endif %} required="required" class="form-control" name="Cantidad" placeholder="Cantidad ({{ producto.unidad.nombre }})" />
                    <br />
                      {% buttons %}
                          <button class="boton2" type="submit" class="btn btn-primary">{% if oferta != None  %} Modificar {% else %} Crear  {% endif %}</button>
                          {% if oferta != None  %}
                                <input type="hidden" name="oid" value="{{ oferta.id }}" />
                                <button class="boton2" type="submit" class="btn btn-primary"  onclick="return confirmCancelar()">Eliminar</button>
                          {% endif %}
                      {% endbuttons %}
                </form>
                </div>
            </div>
        {% endblock %}
    </div>
</body>

</html>