<!DOCTYPE html>

{#% extends 'web/base.html' %#}
{% load bootstrap_themes %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_styles theme='flatly' type='min.css' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa Organica</title>
    <!-- Custom CSS -->
    <link href="{% static "css/thumbnail1-gallery.css"%}" rel="stylesheet">
</head>
<body>
    <div class="col-lg-offset-4 col-lg-4">
        <a href="/" class="navbar-brand">Ingrese sus datos</a>
    </div>
    <div class="container col-lg-offset-4 col-lg-4">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    {% block content2 %}
    <form method="post" class="col-lg-offset-4 col-lg-4" >
        {% csrf_token %}
        <div class="form-group">
            <h4 class="form-control2">Usuario:</h4>
            <input type="text" id="username" required="required" name="username" class="form-control input-lg" placeholder="Usuario">
        </div>
        <br>
        <div class="form-group">
            <h4 class="form-control2">Contraseña:</h4>
            <input type="password" id="password" required="required"  name="password" class="form-control input-lg" placeholder="Contraseña">
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" align="center">Ingresar</button>
            <span class="pull-right">
                <a href="/">Registrarse</a></span>
        </div>
    </form>
    {% endblock %}
</body>
</html>

