<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuestros Productores</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/stylesheet.css" rel="stylesheet">
	<link href="../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
    <link href="../static/css/thumbnail1-gallery.css" rel="stylesheet">

	<!-- Custom Fonts -->
    <link href="../static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body class="index-page">

    <!-- /////////////////////////////////////////Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified ">
                    <li>
                        <a class="page-scroll" href="../home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../web/quienes">¿Quiénes somos?</a>
                    </li>
                    <li class="active">
                        <a class="page-scroll" href="web/nuestros">Nuestros productores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="login">Ingresa a la comunidad</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../static/img/4.jpg" alt="First slide" height="100">
            <!-- Static Header -->
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h6 class="logo">
                        <div class="and">
                            Nuestros Productores
                        </div>
                    </h6>
                </div>
            </div><!-- /header-text -->
        </div>
    </div>
    <br><br><br><br>
    <section class="box-content box-11">
        <div class="container">
           <div class="box-item">
               <p>Nuestros productores se encuentran en 4 de las 5 regiones de Colombia, teniendo una cobertura del 80% del territorio nacional. Nos aseguramos de que todos cumplan con los estandares de cultivos organicos. El 40% de nuestros productores cuentan con la certificación USDA.</p>
           </div>
        </div>
    </section>

    <section class="box-content1 box-12">
        <div class="box-item">
            <ul id="da-thumbs" class="da-thumbs">
                <li>
                    <div><span><h6>Villa San José</h6></span></div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.289259162295!2d-120.7989351!3d37.5246781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091042b3386acd7%3A0x3b4a4cedc60363dd!2sMain+St%2C+Denair%2C+CA+95316%2C+Hoa+K%E1%BB%B3!5e0!3m2!1svi!2s!4v1434016649434"
                                height="400px" width="100%" frameborder="0" style="border:0"></iframe>
                    <div><span><h6>Productor: Sebastian Arango</h6></span></div>
                </li>
                <li>
                    <div><span><h6>Villa Lina</h6></span></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.289259162295!2d-120.7989351!3d37.5246781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091042b3386acd7%3A0x3b4a4cedc60363dd!2sMain+St%2C+Denair%2C+CA+95316%2C+Hoa+K%E1%BB%B3!5e0!3m2!1svi!2s!4v1434016649434"
                                height="400px" width="100%" frameborder="0" style="border:0"></iframe>
                    <div><span><h6>Productor: Sebastian Arango</h6></span></div>
                </li>
                <li>
                    <div><span><h6>Finca Los Guácharos</h6></span></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.289259162295!2d-120.7989351!3d37.5246781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091042b3386acd7%3A0x3b4a4cedc60363dd!2sMain+St%2C+Denair%2C+CA+95316%2C+Hoa+K%E1%BB%B3!5e0!3m2!1svi!2s!4v1434016649434"
                                height="400px" width="100%" frameborder="0" style="border:0"></iframe>
                    <div><span><h6>Productor: Sebastian Arango</h6></span></div>
                </li>
            </ul>
        </div>
    </section>

    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>

						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>