<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#% extends 'web/base.html'%#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiénes Somos</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/stylesheet.css" rel="stylesheet">
	<link href="../static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
    <link href="../static/css/thumbnail1-gallery.css" rel="stylesheet">

	<!-- Custom Fonts -->
    <link href="../static/bootstrap/themes/default/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body class="index-page">


    <!-- /////////////////////////////////////////Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-justified ">
                    <li>
                        <a class="page-scroll" href="../home">Home</a>
                    </li>
                    <li  class="active">
                        <a class="page-scroll" href="web/quienes">¿Quiénes somos?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../web/nuestros">Nuestros productores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="login">Ingresa a la comunidad</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../static/img/4.jpg" alt="First slide">
            <!-- Static Header -->
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h6 class="logo">
                        <div class="and">
                            ¿Quiénes Somos?
                        </div>
                        <br>
                        <div class="and">
                            <h6>Somos una organización interesada en proveer de productos orgánicos a las personas que <br> deseen llevar nuestro estilo de vida.</h6>
                        </div>

                    </h6>
                </div>
            </div><!-- /header-text -->
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <section class="box-content box-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="box-item">
                        <img src="../static/img/logo2.jpg" class="img-circle" width="190" height="190">
                        <h3>Visión</h3>
                        <p>Ser el mejor mercado organico especializado en ofrecer productos naturales y orgánicos en Colombia. A su vez, ser un eje de conocimiento y asesoría relacionada con el estilo de vida sana. Nos conocerán por nuestros logros, tenacidad y calidad en el servicio. Seremos la primera y principal empresa ecológica en el país, sobresaliendo por contar con el aval y reconocimiento de las empresas ecológicas a nivel nacional e internacional.</p>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box-item">
                        <img src="../static/img/logo4.png" class="img-circle" width="190" height="190">
                        <h3>Misión</h3>
                        <p>Somos un espacio activo para el intercambio, la divulgación y la celebración de la agricultura orgánica en Colombia, donde lo más natural es encontrar productos recién cosechados por pequeñas asociaciones agrícolas y nuestra propia granja, a precios justos y asequibles, uniendo al consumidor urbano con el productor rural. Marketplace ofrece además una buena variedad de productos alternativos para optimizar y mejorar su salud y su calidad de vida.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="copyright">Copyright &copy; Organic Marketplace <br/></div>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#"><i class="fa fa-twitter-square"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a>
							</li>

						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>